.navbar {
    background-color: #8E6CDB;
    position: fixed;
    top: 0;
    padding-right: 20px;
}

.navbar li {
    display: inline;
    padding: 0px 20px;
}

.banner {
    background-color:#E6DAEB;
    /* margin-top: 56px; */
    text-align: center;
    padding: 40px 0px;
    padding-bottom: 20px;
}

.homebtn {
    color: #E38441;
}

#tsa-logo {
    height: 300px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color:#d9e5ebca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.checkoutButton{
  height: 40px;
  width: 40px;
  border: 0px;
  color: #FD7F32;
}

#pagebackground{
  background-image:url('./background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

