
.banner1{
    background-color:mediumpurple;
    color: white;
    text-align:center;
    padding: 40px 0px;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header1{
    margin-top:10px;
    text-align:center;
    color:#333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
div.scroll-container img {
    padding: 10px;
}

#scrollpic{
    height: 500px;
    width: 650px;
}

#login{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa; /* or any color you prefer */
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-top: 20px;
}
.banner2{
    background-color:mediumpurple;
    color: white;
    text-align:center;
    padding: 80px 0px;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#dropdown{
    float: left;
    padding: 95px;
}
 

.header2{
    margin-top: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
        font-size: 200px;
        color: #fff;
        text-align:left;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c201b2, 0 0 40px #c201b2, 0 0 50px #c201b2, 0 0 60px #c201b2, 0 0 70px #c201b2;
        }
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #fd74d1, 0 0 40px #fd74d1, 0 0 50px #fd74d1, 0 0 60px #fd74d1, 0 0 70px #fd74d1, 0 0 80px #fd74d1;
        }
}