
.banner1{
    background-color:rgb(146, 111, 216, 0.7);
    color: white;
    text-align:center;
    padding: 40px 0px;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header1{
    margin-top:10px;
    text-align:center;
    color:#333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
div.scroll-container img {
    padding: 10px;
}

#scrollpic{
    height: 500px;
    width: 650px;
}

#login{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa; /* or any color you prefer */
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-top: 20px;
}
.banner2{
    background-color:mediumpurple;
    color: white;
    text-align:center;
    padding: 80px 0px;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#dropdown{
    float: left;
    padding: 95px;
}
 

.header2{
    margin-top: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
        color: #fff;
        text-align:left;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #c201b2, 0 0 50px #c201b2, 0 0 60px #c201b2, 0 0 70px #c201b2, 0 0 80px #c201b2;
        }
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #fa88d6, 0 0 40px #fa88d6, 0 0 50px #fa88d6, 0 0 60px #fa88d6, 0 0 70px #fa88d6, 0 0 80px #fa88d6;
        }
}

.checkoutButton{
    height: 40px;
    width: 40px;
    border: 0px;
}

.bannerLogo{
    height: 150px;
    width: 150px;
}

.formContainer {
    position: relative;
    margin: 8% auto;
    min-height: 60%;
    width: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    background:rgba(255, 255, 255, 0.792);
    padding: 0px 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 8px;
}

.teamForm{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

.homeButton{
    height: 40px;
    width: 40px;
    border: 0px;
    align-items:flex-start;
}

#header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

.homeButton{
    position: relative;
}

#card{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(188, 164, 235, 0.727);
    font-size: x-large;
    font-weight: 800;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
}

#pagebackground{
    background-image:url('./background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smallLogo{
    height:80px;
    width:80px;
}